/* ------------- Wrappers / Spotlight ------------- */

.wrapper.style2, .spotlight, .wrapper.style {
    background-image: url("../images/background/grey_2.png");
   background-repeat: repeat;
}

.spotlight1, .spotlight {
    line-height: 0;
         margin: 2px 2vw;
  margin-bottom: 1rem !important;
 }

 .spotlight:hover {
    box-shadow: 0px 5px 16px 5px black inset; 
       padding: 16px;
}

a {
    border-bottom: none;
}

.text-right:hover, .text-left:hover {
 border: none!important;
}
.cover-box:hover + .text-left, .cover-box:hover + .text-right {
    border: none!important;
}
.text-box:hover + .text-left, .text-box:hover + .text-right {
    border: none!important;
}

#two .spotlight .content p {
    line-height: 1.5; 
    font-family: Arial, Helvetica, sans-serif; 
          color: grey; 
     
}

/* ------------- Typography  ------------- */
.spotlight p {
    font-size: .95em;
    margin: 0 20px 10px 20px;
    line-height: 1.5; 
    color: rgb(160, 160, 160);
}

/* ------------- Media  ------------- */

#myVideo, .spotlight img {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.288), 
                0 6px 30px 5px rgba(0,0,0,0.12), 
                0 8px 10px -7px rgba(0,0,0,0.2);
}

.spotlight-box {
    display: flex;
    flex-wrap: wrap;
}

.cover-box {
    flex: 5 2;
    margin: 0 auto; 
} 

 .cover-box img {
    max-width: 100%;
    width: 100%;
 }

 .cover-left {
    order: 1;
}
.cover-right {
    order: 2;
}

.text-box {
    flex: 6 2; 
    margin: 0 auto; 
} 
.cover-left {
    order: 1;
}
.cover-right {
    order: 2;
}

.text-left { 
    /*border-left: 4px double black;*/
    order: 1; 

}

.text-right {
    /* border-right: 4px double black;  */
    order: 2;
     
}


/***************** Media Screen *****************/
@media screen and (max-width: 1300px) {
    .spotlight1 {
        margin: 20px 200px; 
    }
}


@media screen and (max-width: 1072px) {
    .project-description {
        max-width: 90%!important; 
    }
.spotlight .content {
    margin: 0 auto;
    padding: 0;
}
#about-me {
    text-align: center!important; 
    display: block!important;
}
    .spotlight-box {
        display: flex;
        flex-direction: column; 
        flex-wrap: wrap; 
    }

    .spotlight1 {
        margin: 10vh 10vw; 
    }
    .spotlight-box  > * {
        flex: 1 1;
    max-width: 100%; 
  }

  .cover-left, .cover-right {
    order: 2;
  }
  .text-left, .text-right {
    order: 2;
    border-left: none !important;
    border-right: none !important;
    
  }
  .wrapper.style1, .spotlight:hover {
    box-shadow: none !important; 
     padding: 0 !important;
    }
}

@media screen and (max-width: 375px) {
    #profile-image {
        width: 60%!important;
    }
    #skills {
        padding-top: 20px;  
    }

    .spotlight1 {
        margin: 4vh 10vw;
    }
    .profile-box {
        margin-left: 0!important; 
    }
    #one-small-screen {
        top: 80%!important;
    }
    .wrapper {
        margin: 0;
    }

    #two {
        padding: 20px 0px; 
        margin-bottom: 20px; 
    }

    #portfolio {
        width: 100%;
        margin-bottom: 0;
    }

    .text-box p {
        margin-left: 0!important; 
        margin-right: 0!important;
    }

    #two h2 {
        /* border-bottom: 1px solid black;  */
        padding-bottom: .5em; 
        padding-top: 1.5em;
        margin: 0;
        margin-bottom: 1vh;
        font-weight: bold;
        /* color: black; */
        font-size: 1.1em; 
        text-align: left; 
        letter-spacing: 1px; 
    }

    #two .spotlight .content p {
        padding-top: 1em;
        line-height: 1.5; 
        font-size: .8em; 
        margin: 0;
    }

    #contact {
        max-width: 260px;
    }
    #banner {
        height: 100vh; 
    }
    #header h1 a {
        text-align: center;
        padding: 0;
    }
}